<nav>
<a href='/'>Home</a>
<a href='/assignment'>Check rubbish roster</a>
<a href='/updatewomble'>Update womble details</a>
<a href='/addwomble'>Add baby womble</a>
<a href='/retirewomble'>Retire elderly womble</a>
</nav>