<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>knex-joins-stories</title>
  </head>
  <body>
    <div class="app">
      {{>header}}
      {{{body}}}
      {{>footer}}
    </div>
  </body>
</html>