<form action=`/{{id}}` method="post">
<input type="text" name="id" placeholder="Womble ID" value="{{id}}">
<input type="text" name="name" placeholder="Womble name" value="{{name}}">
<input type="submit" name="" value="Add Womble!">
</form>