<h2>Rubbish assignment</h2>
<table>
  <tr>
    <th>Womble</th>
    <th>Rubbish assignment</th>
  </tr>
  {{#each wombles}}
  <tr>
    <td>{{name}}</td>
    <td>{{rubbishDescription}}</td>
  </tr>
  {{/each}}
</table>

