<h2>Update {{womble.name}}</h2>
<form action="/edit" method="post">
<input type="text" name="characteristic" placeholder="New characteristic" value="{{womble.description}}">
<input type="submit" name="" value="Submit">
</form>