<h2>Retire a womble</h2>
<form action="/retirewomble" class = "form" method="post">
<input type="text" name="id" placeholder="Womble id" value="{{id}}">
<input type="submit" name="" value="Submit">
</form>