{{!-- <img class = "center" src="/images/wombles.jpg"> --}}
<div class = "container">
  {{#each wombles}}
    <a href={{id}}><img class="img-circle" src="{{image}}"><p class="center">{{name}}</p></a>
{{/each}}
</div>



  
