<h1>Wombles</h1>
{{#each wombles}}
<ul>
  <li><a href={{id}}>{{name}}</a></li>
  </ul>
{{/each}}

<button><a href='assignment'>Check rubbish roster</a></button>
<br></br>
<button><a href='addwomble'>Add baby womble</a></button>
<br></br>
<button><a href='retirewomble'>Retire elderly womble</a></button>
