<h1>Wombles</h1>
{{#each wombles}}
  <p><a href={{id}}>{{name}}</a></p>
{{/each}}

<button><a href='assignment'>Check rubbish roster</a></button>
<br></br>
<button><a href='addwomble'>Add baby womble</button>
<br></br>
<button><a href='retirewomble'>Retire elderly womble</button>
