{{!-- <img class = "center" src="/images/wombles.jpg"> --}}
<div class = "container">
  {{#each wombles}}
  <div class="wombles-list">
    <a href={{id}}><img class="img-circle" src="{{image}}"></a>
    <p class="center">{{name}}</p>
    
  </div>
{{/each}}
</div>



  
